
:root {
  --color-primary: #fff;
  --color-secondary: #212121;
  --color-tertiary: #000;
  --color-gradient: linear-gradient(225.34deg, #ff7fff 0%, #dbff7f 101.17%);
}

:root.dark {
  --color-primary: #000;
  --color-secondary: #eaeaea;
  --color-tertiary: #fff;
  --color-gradient: linear-gradient(225.34deg, #ffffff 0%, #ffff7f 101.17%);
}

.main {
  /* background: var(--color-primary);
  color: var(--color-secondary); */
  transition: all ease-in 0.3s;
}