h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

#__nuxt {
  position: relative;
}

* {
  transition-delay: 0 !important;
}

.section {
  min-height: calc(100vh - calc(4.6875rem + 3.125rem));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-bottom: 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0 1.75rem;
    gap: 2rem;
    max-height: 100%;
    height: auto;

    @include breakpoint(medium-up) {
      width: 60%;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
