h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

#__nuxt {
  position: relative;
}

* {
  transition-delay: 0 !important;
}

.section {
  min-height: calc(100vh - calc(4.6875rem + 3.125rem));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-bottom: 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0 1.75rem;
    gap: 2rem;
    max-height: 100%;
    height: auto;

    @include breakpoint(medium-up) {
      width: 60%;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-image: var(--color-gradient);
  transition: all ease 0.3s;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
  }

  &-text {
    color: var(--color-primary);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
    transition: all ease 0.3s;
  }
  
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
